:root {
    --primary-color: white;
    --secondary-color: #0a192f;
    --primary-font: 'Roboto', sans-serif;
}


/* HEADER / NAV BAR STYLES START */
header {
  background-image: url('../images/StarStruck.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}   

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 157px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header a {
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    color: white;
}
  
header nav {
  margin: 7px 0;
}
  
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  
header nav ul li a {
  font-family:'roboto', sans-serif;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
  
header nav ul li a:hover {
  background: #0a192f;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}
/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
body {
  background-color: #0a192f;
}

.hero h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin: 550px 0 0 150px;
  font-size: 50px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero p {
  font-family: var(--primary-font);
  font-weight: lighter;
  margin: 10px 525px 1000px 150px;
  color: var(--primary-color);
  font-size: 20px;
}
/* HERO STYLES END */

/* ABOUT ME STYLES */
.intro h2 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin: 0 0 0 150px;
  font-size: 29px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start; 
}

.intro h2::after {
  content: "";
  display: block;
  position: relative;
  top: 20px;
  width: 300px;
  height: .08px;
  margin-left: 30px;
  background-color: #233554;
}

.intro p {
  font-family: var(--primary-font);
  font-weight: lighter;
  line-height: 1.7;
  color: var(--primary-color);
  margin: 10px 525px 10px 150px;
  font-size: 20px;
}