:root {
    --primary-color: white;
    --secondary-color: #0a192f;
    --primary-font: 'Roboto', sans-serif;
}

/* Page Layout & Structure */
main {
  margin: 0px auto;
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  padding: 0 150px;
  display: block;
}

main.pages {
  margin: 0 24px;
  padding: 0 150px;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  background-color: var(--secondary-color);
}

section  {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
/* Page Layout & Structure End*/


/* Header / Navbar Start */
header {
  background-image: url('../images/StarStruck.jpg');
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-pack: justify;
  align-items: center;
  position: fixed;
  top: 0px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  width: 100%;
}

nav a {
  display: inline-block;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 1.95vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

ul > li {
  display: inline-block;
}

nav a:hover {
  background: #0a192f;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}
/* Header / Navbar End */

/* Hero */
.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0 150px;
}

.hero h1 {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: lighter;
  color: var(--primary-color);
  margin: -245px 50px 0 0;
}

.hero h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 100px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: -200px 0 0 0;
}

.hero h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 50px;
  margin: -50px 0 30px 0;
}

.hero p {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 18px;
  margin: 0 340px 0 0;
}
/* Hero end */

/* ABOUT ME STYLES */
.about {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0 150px;
}

.about h2 {
  font-family: var(--primary-font);
  font-size: 32px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.about::after {
  content: "";
  display: block;
  position: relative;
  top: -415px;
  width: 325px;
  height: .08px;
  margin-left: 175px;
  background-color: rgb(185, 185, 185);
}

#one {
  font-family: var(--primary-font);
  font-weight: lighter;
  line-height: 1.7;
  color: var(--primary-color);
  margin: 0 320px 0 0;
  font-size: 20px;
}

#two {
  font-family: var(--primary-font);
  font-weight: lighter;
  line-height: 1.7;
  color: var(--primary-color);
  margin: 10px 320px 0 0;
  font-size: 20px;
}

.person-img {
display: flex;
margin: -375px 0 0 770px;
}
/* ABOUT ME STYLES END */









