:root {
    --primary-color: white;
    --secondary-color: #0a192f;
    --primary-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:var(--secondary-color);
  font-family: var(--primary-font);
}

/* Header / Navbar */

header {
  background-image: url('../images/StarStruck.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.95vw;  
  font-family: var(--primary-font);
  color: var(--primary-color);  
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* Header / Navbar End */

/* Hero */
.hero {
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
} 

.hero h1 {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: lighter;
  color: var(--primary-color);
  margin: 140px 45px 0 0;
}

.hero h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 100px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 200px 0 0 -165px;
}

.hero h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 50px;
  margin: 340px 0 0 -588px;
}

.hero p {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 18px;
  inline-size: 750px;
  margin: 430px 0 0 -588px;
}
/* Hero end */

/* About Me */
.about {
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
} 

.about h2 {
  font-family: var(--primary-font);
  font-size: 32px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 422px 0 0 -240px;
}

.about::after {
  content: "";
  display: block;
  position: relative;
  top: 440px;
  width: 325px;
  height: .08px;
  margin-left: -329px;
  background-color: rgb(185, 185, 185);
}

#one {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 18px;
  inline-size: 750px;
  margin: 500px 0 0 -240px;
}

#two {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 18px;
  inline-size: 750px;
  margin: 10px 0 0 -240px;
}

.person-img {
display: flex;
margin: 750px 0 100px -525px;
}

.person-img:hover {
  transform: scale(1.5);
}
/* About Me End */

/* Projects */
.projects {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0 150px;
}

.projects h2 {
  font-family: var(--primary-font);
  font-size: 32px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 150px 0 20px 0;
}

.projects h3 {
  font-family: var(--primary-font);
  color: #007BFF;
  font-weight: bold;
  font-size: 20px;
}

.projects a {
  color: #007BFF;
}

.project-img {
  display: flex;
  margin: 10px 10px;
}

.project-img:hover {
  transform: scale(1.5);
}
/* Projects End */

/* Contact Me */


/* FOOTER STYLES START */
footer {
  background: var(--secondary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--primary-color);
}
/* END FOOTER STYLES */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
header {
  position: relative;
  padding-bottom: 0;
  justify-content: center;
}

header h1 {
  width: 100%;
  text-align: center;
}

header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

header nav ul li a {
  font-size: 20px;
}

footer h2, footer div {
  text-align: center;
  width: 100%;
}

.hero-cta, .hero-form {
  width: 100%;
}
  
.hero-cta {
  text-align: center;
}

.section-title {
  width: 80%;
}
  
.trainer {
  flex: 0 70%;
}
  
.contact-info iframe {
  flex: 1 100%;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
section {
  padding: 30px 15px;
}

.step h3 {
  flex: 1 100%;
  text-align: center;
}

.step-info {
  flex: 2 100%;
  text-align: center;
  justify-content: center;
}

.step-img {
  flex: 0 32%;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.step-text {
  flex: 100%;  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
.hero-form button {
  width: 100%;
}

.section-title {
  width: 95%;
}

.intro p {
  width: 100%;
}

.trainer {
  flex: 0 100%;
}

.contact-info {
  text-align: center;
}

.contact-info > * {
  flex: 0 100%;
}

.contact-form {
  order: 3;
}
